
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    color: #55977f;
    text-transform: uppercase;
    margin-top: 20px;
    margin: 20px;
}

h2 {
    font-size: 24px;
    color: #55977f;
    margin: 20px;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

p:nth-child(2) {
    color: #55977f;
    font-weight: bold;
}


figure {
    display: inline-block;
    text-align: center;
    margin: 20px;
}

img {
    width: 300px;
    height: 200px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.1);
}

figcaption {
    color: #444;
    font-size: 14px;
    margin-top: 5px;
}

